/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/08/2018, 18:01:46
    Author     : Caro
*/

/* nav */

.nav-pc{
    background-color: #FFCFCA;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;

}
ul{
    list-style-type: none;
    margin-top: 0;

}
li{
    float: left;
    font-family: Helvetica;
    font-size: 15px; 
    width: 15%;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px ;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: lightgray;
}

.active {
    background-color: #4CAF50;
}

* {
    box-sizing: border-box;
}

/*botón*/

.menu .drop {
    position: fixed;
    right: 10px;
    color: #FFCFCA ;
    padding: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    display: none; /*ocultamos el botón*/
}
.menu .drop svg {
    background: rgba(0,0,0,0.5);
    vertical-align: middle;
}

/*pure css*/

.menu input {display: none}/*ocultamos el input*/
#toggle:checked ~ .nav-pc {
    display: block;

}
#toggle:checked ~ label{
    background: rgba(0,0,0,0.65);

}

.espacio{
    width: 100%;
    height:100px;
}

@media only screen and (max-width: 768px) {



    .menu { z-index: 1;
            margin: 0px;
            padding: 0px;
            position: relative;
            top:0px;
            width: 100%;
    }

    .menu .drop {
        display: inline-block;
        z-index: 1;
        top:0.9em;
        right: 1.5em;

    }/*volvemos a mostrar el botón*/

    .menu .nav-pc  {/*ahora nuestro menú es una lista flotante*/
        z-index: 1;
        background: black;
        min-width: 10rem;
        display: none;
        top: 35px;
        left: 0px;
        height: 270px;
    }

    .menu .nav-pc > ul   {    /*y los ítems se alinean verticalmente*/
        z-index: 1;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 10%;
    }

    .menu .nav-pc > ul >li  {    /*y los ítems se alinean verticalmente*/
        z-index: 1;
        display: block;
        float: none;
        border: 0 none;
        width: 100%;
    }

    .menu .drop svg path{
        z-index: 1;
        fill: white;
    }
}