
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body{
    margin: 0;
    padding: 0;
}

nav {
    margin:auto;
    width:1200px;
    height: 100px;
    top: 8px;

}
/*
.nav-logo{
    position: absolute;
    top: 8px;
    left:19px;
    float: left;
}
*/

.nav-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.img-logo{
  display: block;
  width: 100%;
  height: auto;
}


.liPrincipal {
    float: left;
}
/* saca las viñetas de las listas */
ul, ol {
    list-style: none;

}

nav li a {
    background-color: black;
    color: white;
    text-decoration: none;  /* saca los subrayados */
    padding: 10px 15px;
    display: block;
}

nav li a:hover {
    background-color: lightpink;
    text-decoration: none;
}


li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

nav li:hover > ul  {
    display:block;
}

nav li ul li {
    position: relative;
    
}
nav li ul li ul{
    right: -140px;
    top:0px;
}

/* slideShow*/



