body{
    margin: 0;
    padding: 0;
  
}
nav {
    margin:auto;
    width:900px;
    
}
.liPrincipal {
    float: left;
}
/* saca las viñetas de las listas */
ul, ol {
    list-style: none;
  
}

nav li a {
    background-color: black;
    color: white;
    text-decoration: none;  /* saca los subrayados */
    padding: 10px 15px;
    display: block;
}

nav li a:hover {
    background-color: lightpink;
}


li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}

nav li:hover > ul  {
    display:block;
}

nav li ul li {
    position: relative;
}
nav li ul li ul{
    right: -140px;
    top:0px;
}

/* slideShow*/