/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/08/2018, 12:33:43
    Author     : Caro
*/

html body{
    background-color: #FBFBE7;
    margin: 0px;
    padding: 0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    overflow: hidden;
}

.background-inicio{
    background-image: url(".../imagenes/inicioPYMAjustado-01.svg");
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-position: left;
    height: 100vh;
}

.textoInicio{
    display: none;
}

.textoInicio > .img-textoInicio{
    
    display: none;
}



.img-CompartiTusFotos{
    z-index: auto;
    width:18%;
    position: absolute;
    top:3.5%;
    left: 5%;

}


.div-header{
    width: 100%;
    height: 15%;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));

}




.background-inicio .countdown {
    position: relative;/* me permite posicionar el div */
    right:15px; /* me permite posicionar el div a la derecha */
    top: 83%; /* me permite posicionar el div hacia abajo desde el top (modificarlo para el responsive) */
    float:right; /* me permite posicionar el div hacia hacia la derecha */
    font-size: 30px;
    display: flex; /* pone el countdown en linea, si lo saco lo pone uno abajo del otro */
    text-align: center;
    color:white;
}

.countdown div {
    padding: 10px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    margin: 5px;
}

.countdown div:first-child {
    background: #FFCFCA;
    opacity: 1; 
}

.countdown span {
    display: block;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
 .div-header{
        display:none;
    }

}



@media (max-width: 650px) {

    .countdown {
        font-size: 30px;
        flex-direction: column;
    }

    .countdown div {
        display: none;
    }

    .countdown div:first-child {
        display: block;
        width: 80%;
        padding: 10px;
    }
}




@media only screen and (max-width: 600px){
    html body{
        overflow: scroll;
    }
    .background-inicio{
        background-image: url(".../imagenes/inicioAgosto480x640.svg");
        background-repeat:no-repeat;
        position: relative;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    
    .img-CompartiTusFotos{
        z-index: auto;
        width:35%;
        position: absolute;
        top:5%;
        left: 5%;

    }
    
    
    
    .textoInicio{
    position: relative;
    top:800px;
    width: 100%;
    background-color: transparent;
    height: 300px;
    float: left;
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */
}

.textoInicio > .img-textoInicio{
    display: inline-block;
     width: 70%;
}
    
    
}
