/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/08/2018, 20:38:32
    Author     : Caro
*/

body {
    background-color: #FBFBE7;
    width: 100%;
    overflow: scroll;
    height: 1500px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.background-fiesta {
    background-image: url(".../imagenes/fiesta.jpg");
    background-repeat:no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh; /* esto hace que se vea la imagen en el total de la pantalla*/

}


/* nav */

.nav-pc{
    background-color: #FFCFCA;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;

}
ul{
    list-style-type: none;
    margin-top: 0;

}
li{
    float: left;
    font-family: Helvetica;
    font-size: 15px; 
    width: 15%;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px ;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: lightgray;
}

.active {
    background-color: #4CAF50;
}

* {
    box-sizing: border-box;
}

/*botón*/

.menu .drop {
    position: fixed;
    right: 10px;
    color: #FFCFCA ;
    padding: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    display: none; /*ocultamos el botón*/
}
.menu .drop svg {
    background: rgba(0,0,0,0.5);
    vertical-align: middle;
}

.img-CompartiTusFotos{
    z-index: auto;
    width:18%;
    position: absolute;
    top:3.5%;
    left: 5%;

}

.contenedor-TextoFiesta{
    position: relative;
    top:800px;
    width: 50%;
    background-color: yellow;
    height: 700px;
    float: left;
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */


}

.contenedor-ubFiesta{
    position: relative;
    top:800px;
    width: 50%;
    background-color: white;
    height: 700px;
    float: right;
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */
}


.contenedor-TextoFiesta > .img-TextoFiesta {
    position: relative;
    display: block;
    width: 60%;

}

.contenedor-TextoFiesta > a {
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */
}

.contenedor-TextoFiesta > a > .iconoMapa{
    position: absolute;
    bottom: 0px;
    width: 15%;
    display: none;
}

/*pure css*/

.menu input {display: none}/*ocultamos el input*/
#toggle:checked ~ .nav-pc {
    display: block;

}
#toggle:checked ~ label{
    background: rgba(0,0,0,0.65);

}

.espacio{
    width: 100%;
    height:100px;
}



@media only screen and (max-width: 768px) {
    .menu {
        margin: 0px;
        padding: 0px;
        position: relative;
        top:0px;
        width: 100%;
    }

    .menu .drop {display: inline-block;}/*volvemos a mostrar el botón*/

    .menu .nav-pc  {/*ahora nuestro menú es una lista flotante*/
        z-index: 600;
        background: black;
        min-width: 10rem;
        display: none;
        top: 35px;
        left: 0px;
        height: 270px;
    }

    .menu .nav-pc > ul   {    /*y los ítems se alinean verticalmente*/
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 10%;
    }

    .menu .nav-pc > ul >li  {    /*y los ítems se alinean verticalmente*/
        display: block;
        float: none;
        border: 0 none;
        width: 100%;
    }

    .menu .drop svg path{
        fill: white;
    }

    .div-header{
        display:none;
    }

    .contenedor-TextoFiesta {
        position:relative;
        background-color: white;
        border: 0 none;
        width: 100%;   
        margin:0;
        padding:0;
        float:left;
        height: 580px;
        display: flex;/* me pone permite posicionar el div en el centroHAY QUE PONERSELO AL PADRE Y SE CENTRA EL HIJO  */
        justify-content: center;/* me pone permite posicionar el div en el centro  */
        align-items: center;/* me pone permite posicionar el div en el centro  */

    }

    .contenedor-TextoFiesta > .img-TextoFiesta {
        position: absolute;
        top:0px;
        width: 80%;
        height: auto;
    }

    .contenedor-TextoFiesta > a > .iconoMapa{
        display:inline-block;
        position: absolute;
        bottom: 0px;
        width: 15%;
    }
    .contenedor-ubFiesta{
        display: none;
    }


}




