/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/08/2018, 15:07:23
    Author     : Caro
*/

body {
    background-color: #FBFBE7;
    width: 100%;
    overflow: scroll;
    height: 1500px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.img-CompartiTusFotos{
    z-index: 1;
    width:18%;
    position: absolute;
    top:3.5%;
    left: 5%;

}

/*Contenedores*/

.contenedor-TextoRegalo{
    position: relative;
    height:40em;
    width: 100%;
    float: right;
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */
}

.contenedor-TextoRegalo > .img-TextoRegalo {
    position: relative;
    top:1em;
    display: block;
    width: 25%;

}

.contenedor-TextoRSVP{
    position: relative;
    width: 100%;
    background-color: yellow;
    height: 28em;
    float: right;
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */
}

.contenedor-TextoRSVP > .img-TextoRSVP {
    position: absolute;
    display: block;
    width: 27%;
    top:0px;

}

.contenedor-TextoRSVP > a {
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */
}

.contenedor-TextoRSVP > a > .sobre{
    position: absolute;
    bottom:8%;
    width: 5%;
    right: 45%;
}

.contenedor-TextoRSVP > a > .whatsapp{
    position: absolute;
    bottom:8%;
    left: 45%;
    width: 3.8%;
}

.contenedor-TextoPlaylist{
    position: relative;
    width: 100%;
    background-color:green;
    height: 25em;
    float: right;
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
}
.contenedor-TextoPlaylist > .img-TextoPlaylist{
    position: absolute;
    display: block;
    width: 27%;
    top:0px;
}

.contenedor-TextoPlaylist > a{
    display: flex; /* me pone permite posicionar el div en el centro  */
    justify-content: center;/* me pone permite posicionar el div en el centro  */
    align-items: center;/* me pone permite posicionar el div en el centro  */
}

.contenedor-TextoPlaylist > a > .hit{
    position: absolute;
    bottom:20%;
    width: 18%;
}


.espacio{
    width: 100%;
    height:100px;
}

@media only screen and (max-width: 768px) {
    body{
        height: auto;
    }
    
    .img-CompartiTusFotos{
    z-index: 1;
    width:40%;
    position: absolute;
    top:0.8em;
    left:5%;
}


    .contenedor-TextoRegalo {
        position:relative;
        top:2em;
        background-color: yellow;
        border: 0 none;
        width: 100%;   
        margin:0;
        padding:0;
        float:left;
        height: 32em;
        display: flex;/* me pone permite posicionar el div en el centroHAY QUE PONERSELO AL PADRE Y SE CENTRA EL HIJO  */
        justify-content: center;/* me pone permite posicionar el div en el centro  */
        align-items: center;/* me pone permite posicionar el div en el centro  */

    }


    .contenedor-TextoRegalo > .img-TextoRegalo {
        position: absolute;
        top:0px;
        width: 80%;
        height: auto;
    }



    .contenedor-TextoRSVP {
        position:relative;
        background-color: violet;
        border: 0 none;
        width: 100%;   
        margin:0;
        padding:0;
        float:left;
        height: 27em;
        display: flex;/* me pone permite posicionar el div en el centroHAY QUE PONERSELO AL PADRE Y SE CENTRA EL HIJO  */
        justify-content: center;/* me pone permite posicionar el div en el centro  */
        align-items: center;/* me pone permite posicionar el div en el centro  */

    }

    .contenedor-TextoRSVP > .img-TextoRSVP {
        position: absolute;
        top:0px;
        width: 80%;

    }
    .contenedor-TextoRSVP > a > .sobre{
        position: absolute;
        width: 18%;
        bottom:15%;
        right: 32%;


    }

    .contenedor-TextoRSVP > a > .whatsapp{
        position: absolute;
        bottom:15%;
        left: 32%;
        width: 14%;
    }


    .contenedor-TextoPlaylist {
        position:relative;
        background-color: transparent;
        border: 0 none;
        width: 100%;   
        margin:0;
        padding:0;
        float:left;
        height: 27em;
        display: flex;/* me pone permite posicionar el div en el centroHAY QUE PONERSELO AL PADRE Y SE CENTRA EL HIJO  */
        justify-content: center;/* me pone permite posicionar el div en el centro  */
        align-items: center;/* me pone permite posicionar el div en el centro  */

    }

    .contenedor-TextoPlaylist > .img-TextoPlaylist {
        position: absolute;
        top:0px;
        width: 80%;
        height: auto;
    }

.contenedor-TextoPlaylist > a > .hit{
    position: absolute;
    bottom:40%;
    width: 48%;
}



}